<header *ngIf="showHeader" class="flex justify-between">
    <div class="w-1/2 h-full inline-flex self-start justify-around items-center">
        <h1 class="h-full mr-4 text-5xl self-start">Hey</h1>
        <ul class="h-full container inline-flex justify-evenly self-start">
            <li class="hover:bg-blue-700 transition duration-300 ease-in-out flex-grow px-0">
                <a class="flex items-center hover:text-white w-full justify-center transition duration-300 ease-in-out">Home</a>
            </li>
            <li class="hover:bg-blue-700 transition duration-300 ease-in-out flex-grow px-0">
                <a class="flex items-center hover:text-white w-full justify-center transition duration-300 ease-in-out">Stocks</a>
            </li>
            <li class="hover:bg-blue-700 transition duration-300 ease-in-out flex-grow px-0">
                <a class="flex items-center hover:text-white w-full justify-center transition duration-300 ease-in-out">My Stocks</a>
            </li>
        </ul>
    </div>
    <div class=" w-52 h-100 self-center mr-2">
        <a class="w-100 h-100" routerLink="Login">
            <button class="w-100 h-100 bg-transparent text-white hover:bg-yellow-300 border hover:text-blue-800 border-white transition duration-300 ease-in-out">Login</button>
        </a>
    </div>
</header>
<div class="flex h-full w-full">
    <router-outlet></router-outlet>
</div>
<footer class="w-full self-end min-h-10">
    <h1 class="text-gray-400">Developed by: <a class="text-gray-400 hover:underline hover:cursor-pointer">Yazdan Abbasi</a></h1>
</footer>