:host {
    background-color: #262042;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

form {
    border-radius: 12px;
    background-color: #262042;
}

input {
    border-radius: 12px;
}

button {
    border-radius: 15px;
}

.login-btn:before {
    height: 0%;
    width: 2px;
  }
.login-btn:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }
  
.ng-invalid:not(form) {
    border: 2px rgb(252, 47, 47);
}