:host {
    background-color: #262042;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

form {
    border-radius: 12px;
    background-color: #262042;
}

input {
    border-radius: 12px;
}

button {
    border-radius: 15px;
}

.login-btn:before {
    height: 0%;
    width: 2px;
  }
.login-btn:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }
  
.ng-invalid:not(form) {
    border: 2px rgb(252, 47, 47);
}

p > a:hover {
  animation: neon3 1.5s ease-in-out infinite alternate;
}

@keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #1cc9f5,
        0 0 70px #1cc9f5, 0 0 80px #1cc9f5, 0 0 100px #1cc9f5, 0 0 150px #1cc9f5;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #1cc9f5,
        0 0 35px #1cc9f5, 0 0 40px #1cc9f5, 0 0 50px #1cc9f5, 0 0 75px #1cc9f5;
    }
  }
  