:host {
    background-color: rgb(200, 223, 223);
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
    border-radius: 12px;
}

input {
    border-radius: 12px;
}

button {
    border-radius: 15px;
}